@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Zen Kaku Gothic New", "Antonio", "Khula", sans-serif;
}

h1, h2, h3, small, p, a {
  color: #333;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 99;
  nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 16px;
    right: 24px;
    div {
      width: 40px;
      height: 1px;
      background-color: #333;
      margin-bottom: 8px;
    }
  }
}

/* TOPページ */

.main-view {
  position: relative;
  width: 100%;
  height: 667px;
  z-index: 0;
  overflow: hidden;
  padding: 0 24px;
}

.main-view::before {
  content: '';
  background-image: url(./image/mv_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  filter: blur(3px);
  z-index: -1;
}

.slider1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 388px;
}

.slider1 .swiper-slide {
  width: 100%;
  height: auto;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.main-view__title {
  position: relative;
  font-family: "Antonio";
  font-size: 3.5rem; /*56px*/
  color: #fff;
  text-align: center;
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  margin-top: 90px;
  z-index: 2;
}

.main-view__text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

.philosophy {
  padding: 0 24px;
  margin-top: 80px;
}

.philosophy small {
  display: block;
  text-align: right;
  font-family: "khula";
  font-size: 0.625rem; /*10px*/
  font-weight: 300;
}

.philosophy__title {
  margin-top: 16px;
  font-size: 1.25rem; /*20px*/
  font-family: "Zen Kaku Gothic New";
}

.title__text-image {
  width: 70px;
  height: 35px;
  margin-right: 8px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.title__text-image:nth-child(2){
  margin-left: 8px;
}

.title__text-container {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.text-middle {
  margin-left: 51px;
}

.text-right {
  margin-left: 80px;
}

.philosophy__text {
  margin-top: 40px;
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  line-height: 2;
}

.philosophy + div {
  position: relative;
  width: 100%;
  height: auto;
  text-align: right;
  margin-top: 64px;
}

.philosophy__image-1 {
  display: inline-block;
  width: min(87.2vw, 625px);
  height: 53.86vw;
  max-height: 386px;
  overflow: hidden;
  position: relative;
  right: 0;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.image-wrapper--philosophy {
  margin-top: 40px;
  padding: 0 24px;
  display: flex;
  gap: 16px;
  align-items: end;
}

.philosophy__image-2 {
  width: 55.3%;
  max-width: 625px;
  height: 29.8vw;
  max-height: 386px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.philosophy__image-3 {
  width: 35.2%;
  max-width: 300px;
  height: 19vw;
  max-height: 185px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.philosophy__copy{
  align-items: center;
  display: flex;
  overflow:hidden;
  width: 100%;
  white-space:nowrap;
  margin-top: 48px;
  text-transform: uppercase;
  z-index: 1;
}
.philosophy__copy ul {
  animation: flowing 300s linear infinite;
  color: #f1f1f1;
  font-size: 3rem;
  letter-spacing: 1rem;
  transform:translateX(100%);
  margin: 0;
  padding: 0;
}
.philosophy__copy ul li{
  display: inline-block;
  padding-right: 10px;
}
@keyframes flowing {
  0% { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}

.product {
  background: #f4f4f4;
  padding: 80px 0;
  margin-top: 80px;
}

.product h2 {
  font-family: "Khula";
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.slider2 {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider2 .swiper-slide {
  width: 200px;
  height: auto;
  text-align: center;
  opacity: .4;
  transition: opacity 0.3s;
}

.slider2 .swiper-slide-active {
  opacity: 1;
}

.product__item {
  height: auto;
  text-align: center;
}

.product__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product__item .product__name {
  margin: 8px 0 16px;
  small {
    font-family: "khula";
    font-size: 0.625rem; /*10px*/
  }
  h3 {
    font-family: "Zen Kaku Gothic New";
    font-weight: 500;
    font-size: 1rem;
  }
}

.product__item button {
  padding-bottom: 1rem;
  a {
    font-family: "khula";
    font-size: 10px;
    color: #fff;
    font-weight: 400;
    padding: 8px 20px;
    background-color: #A1988B;
    border-radius: 9999px;
  }
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 25%;
  width: 56px;
  height: 56px;
  margin: 0 15px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
}

.swiper-button-prev::after {
  background-image: url(./image/prev-button.png);
}

.swiper-button-next::after {
  background-image: url(./image/next-button.png);
}

.swiper-pagination {
  position: relative;
  margin-top: 40px;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}

.swiper-pagination-bullet-active {
  background-color: #7C6957;
}

.about {
  max-width: 1440px;
  margin: 80px auto 0;
  overflow: hidden;
}

.image-wrapper--about {
  position: relative;
  height: 65.1vw;
  max-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.item2 {
  position: relative;
  width: min(90vw, 625px);
  min-height: 210px;
  height: 50.2vw;
  overflow: hidden;
  img {
  width: 100%;
  height: auto;
  object-fit: cover;
  }
  @media (min-width:768px) {
    max-height: 386px;
  }
}

.item1 {
  display: none;
  position: absolute;
  bottom: 0;
  left: calc((100vw - 1440px) / 2);
  height: 216px;
  width: 350px;
  overflow: hidden;
}

.item3 {
  display: none;
  position: absolute;
  top: 0;
  height: 317px;
  width: 224px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .item1, .item3 {
    display: block;
  }

  .item3 {
    right: calc((100vw - 1440px + 240px) / 2);
  }
}

@media (min-width: 1440px) {
  .item1 {
    left: 0;
  }

  .item3 {
    right: 120px; 
  }
}


.about__text-area {
  padding: 0 24px;
}

.about__text-area small {
  display: block;
  text-align: right;
  font-family: "Khula";
  font-size: 0.625rem; /*10px*/
  font-weight: 300;
}

.about__text-area h2 {
  font-family: "Khula";
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  span {
    font-family: "Zen Kaku Gothic New";
    font-size: 0.75rem; /*12px*/
    font-weight: 500;
  }
}

.about__text-area p {
  margin-top: 40px;
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  line-height: 2;
}

.about__text-area a {
  display: block;
  text-align: right;
  margin-top: 24px;
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  font-weight: bolder;
  height: 20px;
}

.faq {
  padding: 0 24px;
  margin-top: 80px;
}

.faq h2 {
  font-family: "Khula";
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 40px;
}

.accordion__item {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.accordion__item + .accordion__item {
  border-top: 0px;
}

.accordion__head {
  position: relative;
  padding: 16px 0;
  width: 100%;
  cursor: pointer;
}

.accordion__head p {
  display: inline-block;
  width: 220px;
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  line-height: 2;
}

.accordion__head::after, .accordion__head::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 12px;
  height: 1px;
  background-color: #333;
  transition: .3s;
}

.accordion__head::before {
  transform: translateY(-50%)rotate(90deg);
}


.accordion__item.active .accordion__head::before {
  transform: translateY(-50%)rotate(0deg);
}

.accordion__body {
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all .25s ease;
}

.accordion__item.active .accordion__body {
  height: auto;
  padding: 16px 0;
}

.contact__area {
  margin-top: 80px;
}

.contact__area a {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: #e4dbce;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

#js-cursor{
  pointer-events: none;
  position: fixed;
  top: -15px; 
  left: -15px;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 50%;
  transform: translate(0,0);
  transition: width 0.3s ease-out, height 0.3s ease-out;
  z-index: 10000;
  opacity: 0;
}

#js-cursor.js-hover {
  width: 90px;
  height: 90px;
}

#js-cursor.js-hover::after {
  content: 'GET IN TOCH';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 10px;
  white-space: nowrap;
}

.contact__text h2 {
  margin-top: 64px;
  font-family: "Kuhula";
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.contact__text h2::after {
  content: "";
  display: inline-block;
  background-image: url(./image/Arrow-big.png);
  background-repeat:  no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  transform: scale(0.6);
  vertical-align: middle;
  margin-left: 4px;
}

.contact__text p {
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  color: #333;
  margin-top: 8px;
}

.contact__text small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 0.75rem;/*12px*/
  color: #333;
  margin-bottom: 8px;
}

.contact__text small:first-of-type {
  margin-top: 40px;
}

footer {
  background-color: #595959;
  width: 100%;
  height: auto;
  padding: 48px 24px;
}

footer h1 {
  font-family: "Antonio";
  font-size: 6.25rem; /*100px*/
  letter-spacing: 0.7rem;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.about__lists, .product__lists, .sns__lists {
  margin-bottom: 40px;
  h2 {
    font-family: "Khula";
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    margin-bottom: 24px;
  }
  li {
    font-family: "Zen Kaku Gothic New";
    font-size: 0.875rem; /*14px*/
    color: #fff;
    margin-bottom: 16px;
  }
}

.product__menu {
  display: flex;
  gap: 16px;
}

.sns__menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.fa-x-twitter:before {
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  padding: 8px;
}

.fa-instagram:before {
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  padding: 8px;
}

/* Aboutページ */

.brand__story {
  padding: 0 24px;
  margin-top: 100px;
}

.brand__story__title h2 {
  display: inline-block;
  text-align: right;
  font-family: "Khula";
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
}

.brand__story__title span {
    display: block;
    font-family: "Zen Kaku Gothic New";
    font-size: 0.75rem; /*12px*/
    font-weight: 500;
    margin-top: 4px;
}

.brand__story p {
  margin-top: 40px;
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  line-height: 2;
}

.image-wrapper--brand {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: end;
  margin-top: 40px;
}

.brand__image-1 {
  width: 49%;
  max-width: 300px;
  height: 57vw;
  max-height: 400px;
  overflow: hidden;
  margin: 0;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.brand__image-2 {
  width: 40.6%;
  max-width: 267px;
  height: 28vw;
  max-height: 200px;
  overflow: hidden;
  margin: 0;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.flow__section {
  position: relative;
  width: 100%;
  background-color: #333;
  margin: 0 auto;
  padding: 0 24px;
  margin-top: 80px;
  @media screen and (min-width: 1080px) {
    padding: 0 80px;
  }
}

.flow__section .bg__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #6c6c6c 0%, #fff 50%, #6c6c6c 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Antonio";
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 2rem;
  text-indent: 2rem;
  opacity: .05;
}

.sticky-header {
  position: relative;
  width: 100%;
  padding-top: 80px;
  @media screen and (min-width: 1080px) {
    position: sticky;
    top: 104px;
    left: 0;
    z-index: 99;
    padding-bottom: 200px;
  }
}

.flow__title {
  font-family: "Zen Kaku Gothic New";
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  @media screen and (min-width: 1080px) {
    position: sticky;
    top: 80px;
    left: 0;
    font-size: 36px;
  }
}

.flow__contents {
  position: relative;
  padding-bottom: 80px;
  @media screen and (min-width: 1080px) {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
  }
  @media (min-width: 1440px) {
    gap: 170px;
  }
}

.flow__contents ul {
  padding-top: 40px;
  margin: 0;
}

.flow__contents ul li {
  margin-bottom: 56px;
}

.flow__contents li h3 {
  font-size: 1rem;
  color: #fff;
  border-bottom: 1px solid #999;
  padding-left: 24px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  @media screen and (min-width: 1080px) {
    width: 450px;
  }
  @media (min-width: 1440px) {
    width: 620px;
  }
}

.flow__contents small {
  font-family: "Khula";
  display: inline-block;
  color: #fff;
  font-size: 10px;
  margin-bottom: 8px;
}

.flow__contents li p {
  font-size: 14px;
  color: #fff;
  line-height: 2;
  padding-left: 24px;
  @media screen and (min-width: 1080px) {
    width: 450px;
  }
  @media (min-width: 1440px) {
    width: 620px;
  }
}

.flow__image {
  display: block;
  margin: 0 auto;
  width: 53.3vw;
  max-width: 300px;
  height: 68vw;
  max-height: 400px;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 1080px) {
    margin-top: 300px;
    margin-right: 0;
  }
}

.profile {
  margin-top: 80px;
}

.profile__title {
  font-family: "Khula";
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.profile__name {
  font-family: "Khula";
  font-size: 1.25rem; /*20px*/
  font-weight: 600;
  padding: 0 24px;
}

.profile__text {
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  line-height: 2;
  padding: 0 24px;
}

.profile__photo {
  margin-top: 40px;
  padding: 0 24px;
  width: min(60%, 240px);
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.all-Products-link__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 40px;
}

.all-Products-link__container a {
  padding-left: 24px;
  font-family: "Khula";
  font-size: 12px;
  font-weight: 600;
}

.image-wrapper--profile {
  display: flex;
  gap: 4%;
  width: 60%;
  transform: translateX(20%);
}

.image-wrapper--profile .product_1, 
.image-wrapper--profile .product_2 {
  max-height: 350px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* Productページ */

.product__wicker {
  margin-top: 100px;
  padding: 0 24px;
}

.product__wicker h1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 24px;
  margin-bottom: 40px;
  small {
    font-family: "Khula";
    font-size: 10px;
  }
}

.product__wickerBag {
  width: min(100%, 730px);
  margin-bottom: 40px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.product__wicker-text {
  font-size: 14px;
  line-height: 2;
}

.product__wicker .select--type {
  display: flex;
  justify-content: space-between;
  font-family: "Khula";
  font-weight: 400;
  font-size: 14px;
  width: 200px;
  border-bottom: 1px solid #999;
  margin: 24px 0 24px auto;
}

.product__wicker .select--color {
  display: flex;
  justify-content: space-between;
  font-family: "Khula";
  font-weight: 400;
  font-size: 14px;
  width: 200px;
  border-bottom: 1px solid #999;
  margin: 24px 0 24px auto;
}

.number-wrapper {
  display: flex;
  gap: 16px;
  a {
    color: #999;
  }
}

.gallery__container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.wickerBag__gallery {
  width: 48%;
  max-width: 267px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.product__wicker h2 {
  font-family: "Khula";
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 24px;
}

.other-product {
  padding: 0 24px;
  margin-top: 80px;
}

.other-product h2 {
  font-family: "Khula";
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.other-product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.other-product-item small {
  font-family: "Khula";
  display: inline-block;
  margin-left: 24px;
}


.other-product-item::after {
  content: '→';
  font-family: "Khula";
  width: 20px;
  height: 20px;
  color: #333;
  padding-top: 4px;
}