@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Zen Kaku Gothic New", "Antonio", "Khula", sans-serif;
  background-color: #F9F9F9;
}

h1, h2, h3, small, p, a {
  color: #333;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* ヘッダー */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 999;
}

.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #f9f9f9;
  transition: ease-in-out .4s;
  padding: 100px 24px 80px 24px;
  @media (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media (min-width: 1080px) {
    padding-right: 80px;
    padding-left: 80px;
  }
}

.header__nav__container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav__item--home {
  font-family: "Khula";
  font-size: clamp(0.875rem, 0.743rem + 0.56vw, 1.25rem);
  font-weight: 600;
  margin-bottom: 48px;
}

.nav__item--home a::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(./image/Arrow-big.png);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  scale: .4;
  transform: rotate(180deg);
}

.nav__item--product, .nav__item--about {
  margin-bottom: 48px;
}

.nav__item--product p, .nav__item--about p {
  font-family: "Khula";
  font-size: clamp(1.25rem, 0.81rem + 1.88vw, 2.5rem);
  font-weight: 600;
  margin-bottom: 20px;
  sup {
    font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
    margin-left: 2px;
  }
}

.nav__item--about p {
  margin-bottom: 8px;
}

.nav__item--product figure {
  width: 100%;
  height: auto;
}

.nav__item--product figcaption {
  font-size: clamp(0.625rem, 0.537rem + 0.38vw, 0.875rem);
  margin-top: 8px;
}

.nav__product-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1080px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.nav__product__all-links {
  display: inline-block;
  font-family: "Khula";
  font-size: clamp(0.75rem, 0.706rem + 0.19vw, 0.875rem);
  margin-top: 32px;
  border-bottom: 1px solid #333;
}

.nav__item--about ul {
  display: flex;
  gap: 20px;
  li {
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  }
}

.nav__item--contact {
  font-family: "Khula";
  font-size: 32px;
  font-weight: 600;
}

.nav__item--contact a::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  background-image: url(./image/Arrow-big.png);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  scale: .7;
}

.header__hamburger-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 16px;
  right: 5%;
  div {
    position: relative;
    width: 40px;
    height: 1px;
    background-color: #333;
    transition: ease .4s;
    margin-bottom: 8px;
  }
}

.header__hamburger-button.active div:nth-child(1) {
  top: 5px;
  transform: rotate(20deg);
}

.header__hamburger-button.active div:nth-child(2) {
  top: -3px;
  transform: rotate(-20deg);
}

.header__nav.active {
  transform: translateX(0%);
}


/* ローディング画面 */

.loading__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  opacity: 1;
  transition: opacity 0.3s ease-out, left 0.6s ease-out;
  left: 0;
  z-index: 999999;
}

.loading__wrapper.slide-out {
  left: -100%;
  opacity: 0;
}

.loading__container {
  position: relative;
  text-align: center;
}

.loading__text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-wrap: nowrap;
  transform: translate(-50%, -50%);
  font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.loading__text2 {
  font-family: "Antonio";
  font-size: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


/* TOPページ */

.main-view {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-view::before {
  content: '';
  background-image: url(./image/mv_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  filter: blur(3px);
  z-index: -1;
}

.slider1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(64%, 300px);
  height: min(103vw, 485px);
}

.slider1 .swiper-slide {
  width: 100%;
  height: auto;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.main-view__title {
  position: relative;
  font-family: "Antonio";
  font-size: clamp(3.5rem, 3.324rem + 0.75vw, 4rem);
  color: #fff;
  text-align: center;
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  margin-bottom: calc(min(103vw, 485px) / 2 + 58vw);
  z-index: 2;
  @media (min-width: 480px) {
    margin-bottom: calc(min(103vw, 485px) / 2 + 270px);
  }
}

.main-view__text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  min-width: 300px;
  transform: translateX(-50%);
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

.philosophy {
  padding: 0 24px;
  margin-top: 80px;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
  }
}

.philosophy small {
  display: block;
  text-align: right;
  font-family: "khula";
  font-size: clamp(0.625rem, 0.581rem + 0.19vw, 0.75rem); 
  font-weight: 300;
}

.philosophy__title {
  margin-top: 16px;
  font-size: clamp(1.313rem, 1.07rem + 1.03vw, 2rem);
  font-family: "Zen Kaku Gothic New";
}

.title__text-image {
  width: 70px;
  height: 35px;
  margin-right: 8px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.title__text-image:nth-child(2){
  margin-left: 8px;
}

.title__text-container {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.text-middle {
  margin-left: 51px;
}

.text-right {
  margin-left: 80px;
}

.philosophy__text {
  margin-top: 40px;
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 2;
  @media (min-width: 768px) {
    width: min(65% ,620px);
    margin-right: 0;
    margin-left: auto;
  }
}

.philosophy + div {
  position: relative;
  width: 100%;
  height: auto;
  text-align: right;
  margin-top: 64px;
  @media (min-width:768px) {
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
  }
}

.philosophy__image-1 {
  display: inline-block;
  width: min(87.2vw, 625px);
  height: 53.86vw;
  max-height: 386px;
  overflow: hidden;
  position: relative;
  right: 0;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.image-wrapper--philosophy {
  margin-top: 40px;
  padding: 0 24px;
  display: flex;
  gap: min(4.26vw, 24px);
  align-items: end;
  @media (min-width:768px) {
    margin-top: 64px;
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
    margin-top: 170px;
  }
}

.philosophy__image-2 {
  width: 55.3%;
  max-width: 625px;
  height: 29.8vw;
  max-height: 386px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.philosophy__image-3 {
  width: 35.2%;
  max-width: 300px;
  height: 19vw;
  max-height: 185px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.philosophy__copy{
  align-items: center;
  display: flex;
  overflow:hidden;
  width: 100%;
  white-space:nowrap;
  margin-top: 48px;
  text-transform: uppercase;
  z-index: 1;
  @media (min-width:768px) {
    margin-top: 64px;
  }
  @media (min-width: 1080px) {
    margin-top: 120px;
  }
}

.philosophy__copy ul {
  animation: flowing 300s linear infinite;
  color: #f1f1f1;
  font-size: 3rem;
  letter-spacing: 1rem;
  transform:translateX(100%);
  margin: 0;
  padding: 0;
}

.philosophy__copy ul li{
  display: inline-block;
  padding-right: 10px;
}
@keyframes flowing {
  0% { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}

.product {
  background: #EFEDE9;
  padding: 80px 0;
  margin-top: 80px;
  @media (min-width: 1080px) {
    margin-top: 170px;
  }
}

.product__title {
  font-family: "Khula";
  font-size: clamp(2rem, 1.78rem + 0.94vw, 2.625rem);
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  sup {
    font-size: clamp(0.875rem, 0.743rem + 0.56vw, 1.25rem);
    margin-left: 0.3%;
  }
}

.slider2 {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider2 .swiper-slide {
  width: 200px;
  height: auto;
  text-align: center;
  opacity: .4;
  transition: opacity 0.3s;
}

.slider2 .swiper-slide-active {
  opacity: 1;
}

.product__item {
  height: auto;
  text-align: center;
  width: 100%;
}

.product__image {
  width: min(100%, 450px);
  margin: 0 auto;
  overflow: hidden;
}

.product__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product__item .product__name {
  margin: 8px 0 16px;
  small {
    font-family: "khula";
    font-size: clamp(0.625rem, 0.581rem + 0.19vw, 0.75rem);
  }
  h3 {
    font-family: "Zen Kaku Gothic New";
    font-weight: 500;
    font-size: clamp(1rem, 0.78rem + 0.94vw, 1.625rem);
  }
}

.product__item button {
  padding-bottom: 1rem;
  a {
    font-family: "khula";
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
    color: #333;
    font-weight: 400;
  }
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 25%;
  width: 56px;
  height: 56px;
  margin: 0 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
}

.swiper-button-prev::after {
  background-image: url(./image/prev-button.png);
}

.swiper-button-next::after {
  background-image: url(./image/next-button.png);
}

.swiper-pagination {
  position: relative;
  margin-top: 40px;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}

.swiper-pagination-bullet-active {
  background-color: #7C6957;
}

.about {
  max-width: 1440px;
  margin: 80px auto 0;
  overflow: hidden;
  @media (min-width: 768px) {
    margin-top: 104px;
  }
  @media (min-width: 1080px) {
    margin-top: 170px;
  }
}

.image-wrapper--about {
  position: relative;
  height: 65.1vw;
  max-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item2 {
  position: relative;
  width: min(90vw, 625px);
  min-height: 210px;
  height: 50.2vw;
  overflow: hidden;
  img {
  width: 100%;
  height: auto;
  object-fit: cover;
  }
  @media (min-width:768px) {
    max-height: 386px;
  }
}

.item1 {
  display: none;
  position: absolute;
  bottom: 0;
  left: calc((100vw - 1440px) / 2);
  height: 216px;
  width: 350px;
  overflow: hidden;
}

.item3 {
  display: none;
  position: absolute;
  top: 0;
  height: 317px;
  width: 224px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .item1, .item3 {
    display: block;
  }
  .item3 {
    right: calc((100vw - 1440px + 240px) / 2);
  }
}

@media (min-width: 1440px) {
  .item1 {
    left: 0;
  }
  .item3 {
    right: 120px; 
  }
}


.about__text-area {
  padding: 0 24px;
  margin-top: 32px;
  @media (min-width: 768px) {
    margin-top: 56px;
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
  }
}

.about__text-area small {
  display: block;
  text-align: right;
  font-family: "Khula";
  font-size: clamp(0.625rem, 0.581rem + 0.19vw, 0.75rem);
  font-weight: 300;
}

.about__text-area h2 {
  font-family: "Khula";
  font-weight: 600;
  font-size: clamp(2rem, 1.78rem + 0.94vw, 2.625rem);
  line-height: 1;
  span {
    font-family: "Zen Kaku Gothic New";
    font-size: clamp(0.75rem, 0.706rem + 0.19vw, 0.875rem);
    font-weight: 500;
  }
}

.about__text-area p {
  margin-top: 40px;
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 2;
  @media (min-width: 768px) {
    width: min(65% ,620px);
    margin-right: 0;
    margin-left: auto;
  }
}

.about__text-area a {
  display: block;
  text-align: right;
  margin-top: 24px;
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  font-weight: 600;
}

.about__text-area a span {
  font-family: "Khula";
}

.faq {
  padding: 0 24px;
  margin-top: 80px;
  @media (min-width: 768px) {
    padding: 0 40px;
    margin-top: 104px;
  }
  @media (min-width: 1080px) {
    margin-top: 170px;
    padding: 0 80px;
  }
}

.faq h2 {
  font-family: "Khula";
  font-weight: 600;
  font-size: clamp(2rem, 1.78rem + 0.94vw, 2.625rem);
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .accordion {
    width: min(65%, 800px);
    margin-right: 0;
    margin-left: auto;
  }
}

.accordion__item {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.accordion__item + .accordion__item {
  border-top: 0px;
}

.accordion__head {
  position: relative;
  padding: 16px 0 16px 0;
  width: 100%;
  cursor: pointer;
}

.accordion__head p, .accordion__body p {
  display: inline-block;
  width: 240px;
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 2;
  @media (min-width: 768px) {
    width: 100%;
  }
}

.accordion__head::after, .accordion__head::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 12px;
  height: 1px;
  background-color: #333;
  transition: .3s;
}

.accordion__head::before {
  transform: translateY(-50%)rotate(90deg);
}


.accordion__item.active .accordion__head::before {
  transform: translateY(-50%)rotate(0deg);
}

.accordion__body {
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all .25s ease;
}

.accordion__item.active .accordion__body {
  height: auto;
  padding: 8px 0 16px 0;
}

.contact__area {
  margin-top: 100px;
  @media (min-width: 1080px) {
    margin-top: 170px;
  }
}

.contact__area a {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: #e4dbce;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

#js-cursor{
  pointer-events: none;
  position: fixed;
  top: -15px; 
  left: -15px;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 50%;
  transform: translate(0,0);
  transition: width 0.3s ease-out, height 0.3s ease-out;
  z-index: 10000;
  opacity: 0;
}

#js-cursor.js-hover {
  width: 90px;
  height: 90px;
}

#js-cursor.js-hover::after {
  content: 'GET IN TOCH';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 10px;
  white-space: nowrap;
}

.contact__text h2 {
  margin-top: 64px;
  font-family: "Kuhula";
  font-size: clamp(2rem, 1.296rem + 3vw, 4rem);
  font-weight: bold;
  color: #333;
}

.contact__text h2::after {
  content: "";
  display: inline-block;
  background-image: url(./image/Arrow-big.png);
  background-repeat:  no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  transform: scale(0.6);
  vertical-align: middle;
  margin-left: 4px;
}

@media (min-width:768px) {
  .contact__text h2::after {
    width: 45px;
    height: 45px;
    transform: scale(0.8);
  }
}

.contact__text p {
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  color: #333;
  margin-top: 8px;
  font-weight: 900;
  @media (min-width:768px) {
    margin-top: 16px;
  }
}

.contact__text small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.75rem, 0.706rem + 0.19vw, 0.875rem);
  color: #333;
  margin-bottom: 8px;
}

.contact__text small:first-of-type {
  margin-top: 40px;
}

footer {
  position: relative;
  background-color: #595959;
  width: 100%;
  height: auto;
  padding: 48px 24px;
  @media (min-width:768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media (min-width:1080px) {
    padding-right: 80px;
    padding-left: 80px;
  }
}

/* footer::before {
  content: '';
  background-image: url(./image/footer_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
  opacity: .4;
} */

footer h1 {
  font-family: "Antonio";
  font-size: 6.25rem; /*100px*/
  letter-spacing: 0.7rem;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.about__lists, .product__lists, .sns__lists {
  margin-bottom: 40px;
  h2 {
    font-family: "Khula";
    color: #fff;
    font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
    font-weight: 600;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    margin-bottom: 24px;
  }
  li a {
    display: inline-block;
    font-family: "Zen Kaku Gothic New";
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
    color: #fff;
    margin-bottom: 16px;
  }
}

@media (min-width: 1080px) {
  .footer__links {
    display: flex;
    justify-content: space-between;
  }
  .about__menu, .product__menu, .sns__menu {
    padding-right: 12vw;
  }
}

.product__menu {
  display: flex;
  gap: 24px;
}

.sns__menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.fa-x-twitter:before {
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  padding: 8px;
}

.fa-instagram:before {
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  padding: 8px;
}


/* Aboutページ */

.brand__story {
  padding: 0 24px;
  margin: 100px auto 0;
  max-width: 1440px;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
  }
}

.brand__story__title h2 {
  display: inline-block;
  text-align: right;
  font-family: "Khula";
  font-weight: 600;
  font-size: clamp(2rem, 1.714rem + 1.22vw, 2.813rem);
  line-height: 1;
}

.brand__story__title span {
    display: block;
    font-family: "Zen Kaku Gothic New";
    font-size: clamp(0.75rem, 0.706rem + 0.19vw, 0.875rem);
    font-weight: 500;
    margin-top: 4px;
}

.brand__story p {
  margin-top: 40px;
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 2;
  @media (min-width: 768px) {
    width: min(85%, 600px);
    margin-right: 0;
    margin-left: auto;
  }
}

.image-wrapper--brand {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: end;
  margin-top: 40px;
}

.brand__image-1 {
  width: 49%;
  max-width: 300px;
  height: 57vw;
  max-height: 400px;
  overflow: hidden;
  margin: 0;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.brand__image-2 {
  width: 40.6%;
  max-width: 267px;
  height: 28vw;
  max-height: 200px;
  overflow: hidden;
  margin: 0;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.flow__section {
  position: relative;
  width: 100%;
  background-color: #333;
  margin: 0 auto;
  padding: 0 24px;
  margin-top: 80px;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    margin-top: 170px;
    padding: 0 80px;
  }
}

.flow__section .bg__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #6c6c6c 0%, #fff 50%, #6c6c6c 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Antonio";
  font-size: clamp(5.625rem, 4.965rem + 2.82vw, 7.5rem);
  font-weight: bold;
  letter-spacing: 2rem;
  text-indent: 2rem;
  opacity: .05;
}

.flow__container {
  max-width: 1440px;
  margin: 0 auto;
}

.sticky-header {
  position: relative;
  width: 100%;
  padding-top: 80px;
  @media screen and (min-width: 1080px) {
    position: sticky;
    top: 104px;
    left: 0;
    z-index: 99;
    padding-bottom: 200px;
  }
}

.flow__title {
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(1.375rem, 1.155rem + 0.94vw, 2rem);
  color: #fff;
  font-weight: bold;
  @media screen and (min-width: 1080px) {
    position: sticky;
    top: 80px;
    left: 0;
  }
}

.flow__contents {
  position: relative;
  padding-bottom: 80px;
  @media screen and (min-width: 1080px) {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 120px;
  }
  @media (min-width: 1081px) {
    gap: 250px;
  }
}

.flow__contents ul {
  padding-top: 40px;
  margin: 0;
}

.flow__contents ul li {
  margin-bottom: 56px;
}

.flow__contents li h3 {
  font-size: clamp(1rem, 0.868rem + 0.56vw, 1.375rem);
  color: #fff;
  border-bottom: 1px solid #999;
  padding-left: 24px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  @media screen and (min-width: 1080px) {
    width: 450px;
  }
  @media (min-width: 1440px) {
    width: 620px;
  }
}

.flow__contents small {
  font-family: "Khula";
  display: inline-block;
  color: #fff;
  font-size: 10px;
  margin-bottom: 8px;
}

.flow__contents li p {
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  color: #fff;
  line-height: 2;
  padding-left: 24px;
  @media screen and (min-width: 1080px) {
    width: 450px;
  }
  @media (min-width: 1440px) {
    width: 620px;
  }
}

.flow__image {
  display: block;
  margin: 0 auto;
  width: 53.3vw;
  max-width: 300px;
  height: 68vw;
  max-height: 400px;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 1080px) {
    margin-top: 300px;
    margin-right: 0;
  }
}

.profile {
  margin: 80px auto 0;
  max-width: 1440px;
}

.profile-wrapper {
  padding: 0 24px;
  @media (min-width: 768px) {
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
  @media (min-width: 800px) {
      margin: 0 auto;
      max-width: 800px;
      padding: 0;
  }
}

@media (min-width: 1080px) {
  .text-wrap {
    display: flex;
    gap: 56px;
  }
}

.profile__title {
  font-family: "Khula";
  font-size: clamp(2rem, 1.714rem + 1.22vw, 2.813rem);
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.profile__name {
  font-family: "Khula";
  font-size: clamp(1.125rem, 1.037rem + 0.38vw, 1.375rem);
  font-weight: 600;
}

.profile__text {
  font-family: "Zen Kaku Gothic New";
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 2;
  max-width: min(100vw, 400px);
}

.profile__photo {
  margin: 24px auto 0;
  width: min(50%, 240px);
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .profile__photo {
    margin: 0 0 0 auto;
  }
}

@media (min-width: 800px) {
  .profile__photo {
    margin: 0;
    margin-left: 72px;
  }
}

.all-products-link__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 40px;
  @media (min-width:768px) {
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
  }
}

.all-products-link__container a {
  font-family: "Khula";
  font-size: clamp(0.75rem, 0.486rem + 1.13vw, 1.5rem);
  text-wrap: nowrap;
  margin-left: 10vw;
  @media (min-width: 1280px) {
    margin-left: min(20vw, 360px);
  }
}

.image-wrapper--profile {
  display: flex;
  justify-content: flex-end;
  gap: 4%;
  width: 100%;
  transform: translateX(20%);
  @media (min-width: 768px) {
    transform: translateX(0%);
  }
}

.image-wrapper--profile .product_1, 
.image-wrapper--profile .product_2 {
  width: min(100%, 224px);
  max-height: 350px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}


/* Productページ */

.product__detail {
  margin-top: 100px;
  padding: 0 24px;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
  }
}

.product__detail h1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: clamp(1.375rem, 1.155rem + 0.94vw, 2rem);
  margin-bottom: 40px;
  small {
    font-family: "Khula";
    font-size: clamp(0.625rem, 0.537rem + 0.38vw, 0.875rem);
  }
}

.product__detail-container {
  width: 100%;
  margin-bottom: 40px;
  @media (min-width: 800px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
  }
}

.product__detail-container img {
  width: min(100%, 630px);
}

.product__detail-container figcaption {
  margin-top: 24px;
}

.product__detail-text {
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 2;
}

.product__detail .select--type {
  display: flex;
  justify-content: space-between;
  font-family: "Khula";
  font-weight: 400;
  font-size: 14px;
  width: 200px;
  border-bottom: 1px solid #999;
  margin: 24px 0 24px auto;
}

.number-wrapper {
  display: flex;
  gap: 16px;
  .select-button {
    color: #999;
  }
  .select-button.show {
    color: #333;
  }
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(3,1fr);
  }
  @media (min-width: 1080px) {
    grid-template-columns: repeat(4,1fr);
  }
}

.product__detail h2 {
  font-family: "Khula";
  font-size: clamp(1.375rem, 1.155rem + 0.94vw, 2rem);
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    margin-top: 80px;
  }
}

.other-product {
  padding: 0 24px;
  margin-top: 80px;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
    margin-top: 170px;
  }
}

.other-product h2 {
  font-family: "Khula";
  font-size: clamp(1.375rem, 1.155rem + 0.94vw, 2rem);
  font-weight: 600;
  margin-bottom: 24px;
}

.other-product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(88vw, 590px);
  margin: 0 0 32px auto;
}

.other-product-item small {
  font-family: "Khula";
  display: inline-block;
  margin-left: 24px;
}


.other-product-item::after {
  content: '→';
  font-family: "Khula";
  width: 20px;
  height: 20px;
  color: #333;
  padding-top: 4px;
}

@media (min-width: 1080px) {
  .other-product-item {
    position: relative;
  }
  
  .other-product-item::before {
    content: "";
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(50%, -40%);
    display: inline-block;
    pointer-events: none;
    width: 90px;
    height: 120px;
    opacity: 0;
    transition: .4s;
  }

  .other-product-item:hover::before {
    /* background-image: url(./image/product_sub/hover-basket.jpg); */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
  }

  .other-product--wicker:hover::before {
    background-image: url(./image/product_sub/hover-wicker.jpg);
  }
  .other-product--basket:hover::before {
    background-image: url(./image/product_sub/hover-basket.jpg);
  }
  .other-product--cover:hover::before {
    background-image: url(./image/product_sub/hover-cover.jpg);
  }
  .other-product--shade:hover::before {
    background-image: url(./image/product_sub/hover-shade.jpg);
  }
  .other-product--case:hover::before {
    background-image: url(./image/product_sub/hover-case.jpg);
  }
  .other-product--coster:hover::before {
    background-image: url(./image/product_sub/hover-coster.jpg);
  }
}



/* All Productsページ */

.all__prducts {
  margin-top: 100px;
  padding: 0 24px;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 1080px) {
    padding: 0 80px;
  }
}

.all__prducts h1 {
  font-family: "Khula";
  font-size: clamp(2rem, 1.714rem + 1.22vw, 2.813rem);
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.all__prducts h2 {
  font-weight: 600;
  font-size: clamp(1rem, 0.868rem + 0.56vw, 1.375rem);
  padding-bottom: 8px;
  border-bottom: 1px solid #999;
  margin-bottom: 24px;
}

.all__prducts .products__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1080px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.products__container figcaption {
  font-family: "Khula";
  font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
  margin-top: 16px;
}

.all__prducts a {
  display: block;
  font-family: "Khula";
  font-size: clamp(0.875rem, 0.787rem + 0.38vw, 1.125rem);
  text-align: right;
  margin-top: 40px;
  margin-bottom: 80px;
}


/* 404ページ */

.not-found {
  padding: 0 24px;
  max-width: 1200px;
  margin: 0 auto;
  @media(min-width: 768px) {
    padding: 0 40px;
  }
}

.not-found__image {
  background-image: url(./image/404/404.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: multiply;
  width: 100%;
  height: 50vh;
}

.not-found__message .message_1 {
  font-family: "Khula";
  font-size: clamp(3.5rem, 2.62rem + 3.76vw, 6rem);
  color: #333;
  text-align: center;
  font-weight: 600;
  margin-top: -100px;
  margin-bottom: 40px;
}

.not-found__message .message_2 {
  text-align: center;
  font-weight: 600;
  font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
}

.product__lists--404 {
  margin-top: 64px;
  @media (min-width: 768px) {
    margin-top: 80px;
  }
}

.product__lists--404 h2 {
  color: #333;
  font-size: clamp(1.25rem, 0.986rem + 1.13vw, 2rem);
  border-bottom: 1px solid #333;
}

.product__lists--404 .product__menu {
  gap: 80px;
}

.product__lists--404 li a {
  color: #333;
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  text-wrap: nowrap;
}

.not-found__product-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-bottom: 80px;
}

@media (min-width: 1080px) {
  .not-found__product-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 120px;
    gap: 140px;
    padding-bottom: 40px;
  }
  .not-found__product-image {
    width: min(50%, 648px);
  }
  .product__lists--404 {
    margin: 0;
  }
  .not-found__product-image {
    padding: 0;
  }
}