@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Zen Kaku Gothic New", "Antonio", "Khula", sans-serif;
}

header {
  position: absolute;
  top: 30px;
  width: 100%;
  height: auto;
  z-index: 10;
  nav {
    position: absolute;
    width: 48px;
    height: 16px;
    right: 24px;
    div {
      width: 48px;
      height: 1px;
      background-color: #fff;
      margin-bottom: 8px;
    }
  }
}

.main-view {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  padding: 0 24px;
}

.main-view::before {
  content: '';
  background-image: url(./image/mv_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  filter: blur(3px);
  z-index: -1;
}

.swiper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 388px;
}

.swiper-slide {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.main-view__ttl {
  position: relative;
  font-family: "Antonio";
  font-size: 3.5rem; /*56px*/
  color: #fff;
  text-align: center;
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  margin-top: 90px;
  z-index: 2;
}

.main-view_txt {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  font-family: "Zen Kaku Gothic New";
  font-size: 0.875rem; /*14px*/
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}